/* FILE DEDICATED TO COLOR VARIABLES */
:root {
  /* BLOCK COLORS (Used in: Questions) */
  --innerBlockTextColor: rgb(59, 4, 82);
  --blockBorderColor: rgb(143, 77, 143);

  /* INPUT COLORS (Used in: Random Input (Question)) */
  --inputTextColor: rgb(123, 17, 133);
  --inputBackgroundColor: #f2def7;

}
