@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  /* BLOCK COLORS (Used in: Questions) */
  --innerBlockTextColor: rgb(59, 4, 82);
  --innerBlockBackgroundColor: #d2acdb;
  --blockBorderColor: rgb(143, 77, 143);

  /* INPUT COLORS (Used in: Random Input (Question)) */
  --inputTextColor: rgb(123, 17, 133);
  --inputBackgroundColor: #f2def7;

}


.block {
  background: var(--innerBlockBackgroundColor);
  border: 1px var(--blockBorderColor) solid;
  /* padding: 20px; */
}

/* QUESTIONS */
.question {
  margin: 30px auto ;
  font-size: 3rem;
  text-align: center;
  width: 600px;
  line-height: normal;
  color: var(--innerBlockTextColor);
}

.randomInput {
  font-size: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.randomInput, input[type="text"], textarea, select {
  background: var(--inputBackgroundColor);
  border: none;
  cursor: pointer;
  color: var(--inputTextColor);
}

.randomInput, input[type="text"]:focus {
  background: --inputBackgroundColor;
  border: none;
  cursor: text;
}

.inputCell {
  background: var(--inputBackgroundColor);
}



/* SELECTIONS */


.selections {
  margin: 30px auto ;
  text-align: center;
  line-height: normal;
  color: var(--innerBlockTextColor);
  max-width: 1200px;
}

  /* --> Operators */
.operator-selections {
  padding-bottom: 1rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

.operator-selector { 
  max-width: 100px;
  cursor: pointer;
}

  /* --> Modus */
.modus-selections {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 2rem;
}

.modus-selector {
  max-width: 380px;
  cursor: pointer;
}

.modus-header {
  background: var(--innerBlockTextColor);
  color: var(--innerBlockBackgroundColor);
  border-radius: 22px;
  font-size: 3rem;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.modus-description {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* BUTTON SECTION */

.controlls {
  display: flex;
  justify-content: center;
}

.button-section {
  max-width: 340px;
}

.start-game {
  padding: 10px;
  color: var(--innerBlockBackgroundColor);
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--innerBlockTextColor);
  border-radius: 6px;
  cursor: pointer;
}

.start-game:hover {
  outline: 3px solid var(--innerBlockBackgroundColor);
}

.start-game:active {
  transform: scale(0.98);
}


  /* --> when hovered over OR selected */
  /* Add "selected" class to "operator-selector" and "modus-selector" div */
.selectable:hover .modus-header,
.selected .modus-header  {
  color: var(--inputBackgroundColor);
  background: var(--inputTextColor);
}

.selectable:hover,
.selected {
  background: var(--inputBackgroundColor);
  color: var(--inputTextColor);
}


/* LOGO */

.logo {
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: var(--innerBlockBackgroundColor);
  border: 8px var(--blockBorderColor) solid;
  max-width: 730px;
  height: 140px;
  display: flex;
  justify-content: left;
  border-radius: 55px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  padding-left: 0.2rem;
}

.logo-text {
  line-height: normal;
  max-width: 100%;
  max-height: 100%;
  font-size: 6rem;
  font-style: italic;
  font-weight: 600;
  color: var(--innerBlockTextColor);
}

.logo-text p {
  padding-left: 0.4rem;
  padding-top: 0.8rem;
  margin-bottom: 0;
}

/* just for the template site */
.centerText {
  text-align: center;
}