@import url(./color_schemes.css);

.question {
  margin: 30px auto ;
  font-size: 3rem;
  text-align: center;
  width: 600px;
  line-height: normal;
  color: var(--innerBlockTextColor);
}

.columns, .column {
  background: #d2acdb;
  border: 1px var(--blockBorderColor) solid;
  /* padding: 20px; */
}

.randomInput {
  font-size: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.randomInput, input[type="text"], textarea, select {
  background: var(--inputBackgroundColor);
  border: none;
  cursor: pointer;
  color: var(--inputTextColor);
}

.randomInput, input[type="text"]:focus {
  background: --inputBackgroundColor;
  border: none;
  cursor: text;
}

.inputCell {
  background: var(--inputBackgroundColor);
}


/* just for the template site */
.centerText {
  text-align: center;
}