:root {
  /* BLOCK COLORS (Used in: Questions) */
  --innerBlockTextColor: rgb(59, 4, 82);
  --innerBlockBackgroundColor: #d2acdb;
  --blockBorderColor: rgb(143, 77, 143);

  /* INPUT COLORS (Used in: Random Input (Question)) */
  --inputTextColor: rgb(123, 17, 133);
  --inputBackgroundColor: #f2def7;

}

.block {
  background: var(--innerBlockBackgroundColor);
  border: 1px var(--blockBorderColor) solid;
  /* padding: 20px; */
}

/* QUESTIONS */
.question {
  margin: 30px auto ;
  font-size: 3rem;
  text-align: center;
  width: 600px;
  line-height: normal;
  color: var(--innerBlockTextColor);
}

.randomInput {
  font-size: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.randomInput, input[type="text"], textarea, select {
  background: var(--inputBackgroundColor);
  border: none;
  cursor: pointer;
  color: var(--inputTextColor);
}

.randomInput, input[type="text"]:focus {
  background: --inputBackgroundColor;
  border: none;
  cursor: text;
}

.inputCell {
  background: var(--inputBackgroundColor);
}



/* SELECTIONS */
.selections {
  
  margin: 30px auto ;
  font-size: 2rem;
  text-align: center;
  line-height: normal;
  color: var(--innerBlockTextColor);
  max-width: 1200px;
  

  
}

.operator-selections {
  /* max-width: 400px; */
  padding-bottom: 1rem;
  font-size: 5rem;

  display: flex;
  justify-content: center;
}

.operator-selector { 
  max-width: 100px;
  justify-self: center;
  
}

.modus-selections {
  /* max-width: 1000px; */
  display: flex;
  justify-content: center;
}

.modus-selector {
  max-width: 380px;
}

.selectable:hover {
  background: var(--inputBackgroundColor);
  color: var(--inputTextColor);
}




/* just for the template site */
.centerText {
  text-align: center;
}