@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');

body {
  background: rgb(167, 160, 168);
  font-family: 'Biryani', sans-serif;
  margin: 20px;
}

body h1 {
  font-style: italic;
  font-weight: 300;
  font-size: 3em;
}

.output {
  text-align: center;
  font-size: 2em;;
}

.boxAnswer {
  padding: 5px;
  text-align: center;
  width: 90px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1.2em;
  height: 55px;
}

.boxSign {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
}

.box {
  padding: 5px;
  text-align: center;
  width: 50px;
  line-height: 55px;
  background-color: #ddd;
  border: 1px solid #ccc;
  display: inline-block;
}

button {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 1.5em;
  padding: 3px 10px 3px 10px;
}