.question {
  margin: 30px auto ;
  font-size: 3rem;
  text-align: center;
  width: 600px;
  line-height: normal;
  color: rgb(59, 4, 82);
}

.columns, .column {
  background: #d2acdb;
  border: 1px rgb(143, 77, 143) solid;
  /* padding: 20px; */
}

.randomInput {
  font-size: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.randomInput, input[type="text"], textarea, select {
  background: #f2def7;
  border: none;
  cursor: pointer;
  color: rgb(123, 17, 133);
}

.randomInput, input[type="text"]:focus {
  background: #f2def7;
  border: none;
  cursor: text;
}

.inputCell {
  background: #f2def7;
}

